*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background: url(../image/shopping.webp) center center;
    background-size: cover;
}

.overlay{
    width:100%;
    height:100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* color: white; */
    background-color: rgba(0, 0, 0, 0.7);
}

.title{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
